@import "tailwindcss";

@font-face {
  font-family: "Alte";
  src: url("~/assets/css/AlteHaasGroteskBold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Alte";
  src: url("~/assets/css/AlteHaasGroteskRegular.woff2") format("woff2");
}

@theme {
  --color-off-white: #F0EFD6;
  --color-brown: #6D3409;
  --color-yellow: #FDCA40;
  --color-green: #D1D1AF;

}

#__nuxt,
html,
body {
  font-family: 'Alte', 'Helvetia', san-serif;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  background: #6D3409;
}

@layer base {
  .text-super-large {
    @apply text-[2rem] leading-[2.2rem] md:text-[4rem] md:leading-[4.5rem] lg:text-[6rem] lg:leading-[6.5rem] tracking-tight;
  }

  .text-large-2 {
    @apply text-[2rem] leading-[2.2rem] md:text-[3.4rem] md:leading-[3.7rem] tracking-tight;
  }

  .text-large {
    @apply text-[1.5rem] leading-[1.8rem] md:text-[2rem] md:leading-[2.4rem];
  }

  .text-mid {
    @apply text-[1.2rem] leading-[1.6rem] md:text-[1.5rem] md:leading-[2rem];
  }

  .text-base {
    @apply text-[1rem] leading-[1.3rem];
  }

  .text-small {
    @apply text-[0.8rem] leading-[1rem];
  }
}

.router-link-active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1.5px;
}

.contact-btn {
  text-decoration: none !important;
}